In [1]:
print("Hello World!")

Hello World!

In [7]:
m = 123;

In [8]:
type(m)

int

### Basic Arithmetic

In [9]:
1 + 2

3

In [10]:
2 - 3

-1

In [11]:
2 * 3

6

In [15]:
4 / 3

1.3333333333333333

In [16]:
4 // 3

1

In [18]:
5 % 3

2

In [19]:
2 ** 3

8

### Variable Assignments

In [25]:
m = 10

In [28]:
m + m

24

In [27]:
 m = 12

In [29]:
1zvfbff

SyntaxError: invalid syntax (<ipython-input-29-78b43b8aa369>, line 1)

In [30]:
my_number = 13;

In [31]:
my_number! = 13

SyntaxError: invalid syntax (<ipython-input-31-1d1a5d21d9b9>, line 1)

In [32]:
list = 12;

In [33]:
a = 0.1
b = 140

x = a * b
x

14.0

### Reassigning Variables

In [34]:
a = 10

In [ ]:
a += 5

In [36]:
a

15

In [37]:
 m = "Hello World!"

In [39]:
print(m)

Hello World!

In [40]:
 m = 'Hello World!'

In [42]:
print(m)

Hello World!

In [43]:
a = "Hello "
b = "World!"
print(a+b)

Hello World!

In [44]:
a = "Hello"
b = "World!"
print(a + " " + b)

Hello World!

In [2]:
a = "Hello World!"
len (a)

12

In [47]:
a[0]

'H'

In [49]:
a[11]

'!'

In [50]:
a[0:5]

'Hello'

In [51]:
a[:5]

'Hello'

In [52]:
a[5:12]

' World!'

In [53]:
a[5:]

' World!'

In [54]:
a[0:12:1]

'Hello World!'

In [55]:
a[0:12:2]

'HloWrd'

In [3]:
a[-1]

'!'

In [4]:
a[::-1]

'!dlroW olleH'

In [5]:
a[3] = 'o'

TypeError: 'str' object does not support item assignment

In [10]:
a = 'Hello world!'
a.lower()
a.upper()

'HELLO WORLD!'

In [19]:
a = "My name is zahra. I'm student."

In [15]:
a.split()

['My', 'name', 'is', 'zahra.', "I'm", 'student.']

In [21]:
a.split('.')

['My name is zahra', " I'm student", '']

In [32]:
b = 'Zahra'
b.split( )

['Zahra']

### Variables

In [6]:
first_name = 'shariaty'
print(first_name)

shariaty

In [7]:
print(first_name.title())

Shariaty

In [8]:
print(first_name.upper())

SHARIATY

In [5]:
first_name = 'Fatemeh'
last_name = 'Fallah'

full_name = first_name + ' ' + last_name

print(full_name.title())

Fatemeh Fallah

In [12]:
name = ' Shariaty '

print('-' + name.lstrip() + '-')
print('-' + name.rstrip() + '-')
print('-' + name.strip() + '-')

-Shariaty -
- Shariaty-
-Shariaty-

### List

In [2]:
a =[1,2,3,4,"ad"]

In [2]:
type(a)

list

In [3]:
type(a[4])

str

In [4]:
len(a)

5

In [5]:
a[:3]

[1, 2, 3]

In [6]:
a[3:]

[4, 'ad']

In [8]:
a[2] = 6
a

[1, 2, 6, 4, 'ad']

In [4]:
a[2:4] = [6,7]
a

[1, 2, 6, 7, 'ad']

In [5]:
a[4:2:-1]

['ad', 7]

In [8]:
a,b = 1,2

print(a)
print(b)

1
2

In [9]:
a,b = b,a

print(a)
print(b)

2
1

In [11]:
a = [1,2,3,4]

In [12]:
a = a + [5]
a

[1, 2, 3, 4, 5]

In [13]:
a.append(6)
a

[1, 2, 3, 4, 5, 6]

In [14]:
a.insert(3,'3')
a

[1, 2, 3, '3', 4, 5, 6]

In [15]:
a.reverse()
a

[6, 5, 4, '3', 3, 2, 1]

In [18]:
a = [3,4,5,3]
a.remove(3)
a

[4, 5, 3]

In [5]:
a = [1,2,3]
b = [2,3,4]
c = [3,4,5]
d = [a, b, c]
d

[[1, 2, 3], [2, 3, 4], [3, 4, 5]]

In [6]:
a = [1,2]
a = "asdssss"

b = [2,3,4]
c = [3,4,5]
d = [a, b, c]
d

['asdssss', [2, 3, 4], [3, 4, 5]]

In [7]:
d[2][2]

5

In [8]:
d[0][2]

'd'

In [9]:
a = [1,2,3,4,5]

for i in a:
    print(i)

1
2
3
4
5

In [10]:
a = [1,2,3,4,5]

for i in len(a):
    print(i)

TypeError: 'int' object is not iterable

### Set

In [28]:
a = [1,2,3,'a',4,4,5]
b = set(a)
b

{1, 2, 3, 4, 5, 'a'}

In [29]:
b[0]

TypeError: 'set' object is not subscriptable

In [31]:
b.add(6)
b

{1, 2, 3, 4, 5, 6, 'a'}

### Dictionary

In [32]:
a = {'x1' : 12, 'x2' : 14, 'x3' : 19}
a

{'x1': 12, 'x2': 14, 'x3': 19}

In [34]:
b = {'zahra' : 1 ,'Ali' : 1 ,'Narges' : 0}
b['zahra']

1

In [35]:
b['zahra'] = 0
b

{'zahra': 0, 'Ali': 1, 'Narges': 0}

In [36]:
b.keys()

dict_keys(['zahra', 'Ali', 'Narges'])

In [37]:
b.values()

dict_values([0, 1, 0])

In [38]:
b.items()

dict_items([('zahra', 0), ('Ali', 1), ('Narges', 0)])

In [39]:
for i,j in b.items():
    print(i + ": " + str(j))

zahra: 0
Ali: 1
Narges: 0

In [40]:
b['Fatemeh'] = 1
b

{'zahra': 0, 'Ali': 1, 'Narges': 0, 'Fatemeh': 1}

In [42]:
b[4] = 'sd'
b

{'zahra': 0, 'Ali': 1, 'Narges': 0, 'Fatemeh': 1, 4: 'sd'}

In [43]:
c = {1:"zahra" , 2:"Ali"}

In [44]:
d = {"PythonClass" : c}

In [47]:
d['PythonClass'][1]

'zahra'

In [51]:
len(c)

2

In [52]:
c.__len__()

2

In [66]:
e = {1:"as" , 1: "asdsd"}
print(e)

{1: 'asdsd'}

### Tuples

In [53]:
a = (1,2,3,4)

In [54]:
a[0]

1

In [55]:
a[0] = 3

TypeError: 'tuple' object does not support item assignment

In [56]:
t = (1,1,1,2,3,4)
t.count(1)

3

In [57]:
t.index(2)

3

In [68]:
a = {1,2,3,4}
b = [1,2,3,4]
c = (1,2,3,4)
d = {1: "asf", 2:"frfgfr"}

print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'set'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

In [69]:
a = True
b = False
print(a)

True

### Condition

In [1]:
a = 50
b = 10


if a>b:
    print(a)
    print(b)
print(a+b)

50
10
60

In [2]:
a = 10
b = 50

if a>b:
    print(a)
else:
    print(b)

50

In [3]:
a = 10
b = 50
c = 13

if a>b and a>c:
    print(a)
if b>a and b>c:
    print(b)
if c>a and c>b:
    print(c)

50

In [4]:
a = 10
b = 50
c = 13

if a>b and a>c:
    print(a)
elif b>a and b>c:
    print(b)
else:
    print(c)

50

In [5]:
s = "My name is Ali"

b = "Ali"

if b in s:
    print(s)

My name is Ali

In [6]:
if "Ali" in "My name is Ali":
    print ("Hi Ali!")

Hi Ali!

In [1]:
a = 10
b = 5
c = "A"

if a>b and c!= "A":
    print("Good Morning")
elif a<b and c!="A":
    print("Good Evening")
elif a>b and c == "A":
    print("Good Lunch")
else:
    print("Good Night")

Good Lunch

### range()

In [1]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
list(range(5,10,2))

[5, 7, 9]

### LOOP

In [3]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [4]:
my_list =[1,20,30,40,5,6]

for i in my_list:
    print(i)

1
20
30
40
5
6

In [2]:
my_list =[1,20,30,40,5,6]
my_set = set(my_list)
my_set

for i in my_set:
    print(i)

1
5
6
40
20
30

In [11]:
a = {"Name": "Fatemeh","Family":"Fallah","id":1}

for i,j in a.items():
    print(str(i) + "is " + str(j))


# for i,j in a.items():
#     print("{} is {}".format(i,j))

# for i in a.keys():
#     print(i) 
    
# for i in a.values():
#     print(i)

Fatemeh
Fallah
1

### Tamrin

In [14]:
a = 35

# for i in range(1, int(a/2 + 1)):
for i in range(1, a+1):
    if a%i == 0:
        print(i)

1
5
7
35

In [15]:
a = 35
my_list = []

for i in range(1, a+1):
    if a%i == 0:
        my_list.append(i)
my_list

[1, 5, 7, 35]

In [26]:
my_students = {1:{"name":"Ali", "family":"Rezaee", "courses": {"x1":13, "x2":17,"x3":15}},
              2:{"name":"Mohammad", "family":"Hosseini", "courses": {"x1":14, "x4":19}},
              3:{"name":"Sanaz", "family":"Mohammadi", "courses": {"x2":14, "x3":18,"x5":11}}}

In [27]:
my_students[1]

{'name': 'Ali', 'family': 'Rezaee', 'courses': {'x1': 13, 'x2': 17, 'x3': 15}}

In [35]:
my_students = {1:{"name":"Ali", "family":"Rezaee", "courses": {"x1":13, "x2":17,"x3":15}},
              2:{"name":"Mohammad", "family":"Hosseini", "courses": {"x1":14, "x4":19}},
              3:{"name":"Sanaz", "family":"Mohammadi", "courses": {"x2":15, "x3":18,"x5":11}},
              1:{"name":"San", "family":"Moh", "courses": {"x2":14,"x5":11}}}

In [40]:
my_students

{1: {'name': 'San', 'family': 'Moh', 'courses': {'x2': 14, 'x5': 11}},
 2: {'name': 'Mohammad',
  'family': 'Hosseini',
  'courses': {'x1': 14, 'x4': 19}},
 3: {'name': 'Sanaz',
  'family': 'Mohammadi',
  'courses': {'x2': 15, 'x3': 18, 'x5': 11}}}

In [42]:
k = 3
m = my_students[k]["courses"].values()
mean_k = sum(m)/len(m)
mean_k

14.666666666666666

### Functions

In [43]:
def show_hello_world():
    print("Hello World!")
    
show_hello_world()

Hello World!

In [46]:
def show_message(x):
    print("Your message is: {}".format(x))
    
show_message("Hello world!")

Your message is: Hello world!

In [48]:
def show_messages(x , y):
    print("Your message is: {} and {}".format(x,y))
    
show_messages("Hello", "World!")

Your message is: Hello and World!

In [53]:
def adding_two_numbers(x,y):
    z = x + y
    return z


d = adding_two_numbers(3,5)
d

8

In [54]:
my_students = {1:{"name":"Ali", "family":"Rezaee", "courses": {"x1":13, "x2":17,"x3":15}},
              2:{"name":"Mohammad", "family":"Hosseini", "courses": {"x1":14, "x4":19}},
              3:{"name":"Sanaz", "family":"Mohammadi", "courses": {"x2":14, "x3":18,"x5":11}}}

In [57]:
def calculate_avg(k):
    m = my_students[k]["courses"].values()
    mean_k = sum(m)/len(m)
    return mean_k

d = calculate_avg(3)
d

14.333333333333334

In [59]:
def calculate_avg(k = 1):
    m = my_students[k]["courses"].values()
    mean_k = sum(m)/len(m)
    return mean_k

d = calculate_avg()
d

15.0

### While

In [60]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [61]:
x = 0

while x < 10:
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9

In [62]:
import math

In [63]:
math.sin(30)

-0.9880316240928618

In [64]:
math.pow(10,2)

100.0

In [65]:
help(pow)

Help on built-in function pow in module builtins:

pow(base, exp, mod=None)
    Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments

    Some types, such as ints, are able to use a more efficient algorithm when
    invoked using the three argument form.

In [72]:
def is_prime(x):
     if x == 2:
        return True
     for i in range(2, x):
        if x%i == 0:
            return False
        return True

In [81]:
is_prime(5)

True